.hero-section {
    
    background-color: rgb(15, 14, 63);

    &-heading {
        font-size: 56px;
    }

    &-btn {
        display: inline-block;
        color: #fff;
        background-color: #754ffe;
        text-decoration: none;
        font-weight: 600;
        padding: 12px 20px;
        border-radius: 5px;
    }

}

.card-section {

    padding-top: 110px;
    padding-bottom: 110px;

    &-img {
        padding: 0px 20px;
        margin-top: -50px;
        
    }

    &-heading {

    }

    &-text {

    }

    &-btn {

    }

}